*{
  color: white;
}
h5{
  color:white;
}
body {
  background-color: #f0f2f5;
  background-image: url('assets/bg_index1.jpg') !important;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

@media (max-width: 992px) {
    .row.mt-5 .card {
        flex: 1 1 calc(50% - 1rem);
        max-width: calc(50% - 1rem);
    }
}

@media (max-width: 576px) {
    .row.mt-5 .card {
        flex: 1 1 100%;
        max-width: 100%;
    }
}



